<div class="upload-section">
  <!-- Shape selection dropdown -->
   <div class="upload-shape">
  <label for="shapeSelector">Choose Shape : </label>
  <select id="shapeSelector" (change)="onShapeChange($event)" class="dropdown">
    <option value="rectangle">Rectangle</option>
    <option value="circle">Circle</option>
  </select>
</div>

  <!-- Container for the image with dynamic shape -->
  <div [ngClass]="currentShape" class="image-frame">
    <img [src]="imageUrl || defaultImage" 
         class="movable-image" 
         [style.transform]="'translate(' + posX + 'px, ' + posY + 'px) scale(' + scale + ')'"
         (mousedown)="onDragStart($event)" 
         (mousemove)="onDragMove($event)" 
         (mouseup)="onDragEnd()" 
         (wheel)="onScrollZoom($event)" />
  </div>

  <!-- Upload button -->
  <div class="upload-button">
      <label for="fileUpload">Select Photo</label>
      <input type="file" id="fileUpload" (change)="onFileSelected($event)" accept="image/*" />
    </div>
  
    <div>
  <h2>Upload your photo</h2>
  <form (ngSubmit)="onSubmit()">
    <!-- <input type="file" (change)="onFileSelect($event)" accept="image/*"> -->
    <button type="button" (click)="onPreview()">Preview</button>
    <button type="submit">Submit</button>
  </form>

  <div *ngIf="previewImage">
    <h3>Image Preview</h3>
    <img [src]="currentShape" alt="Image Preview" width="300px">
  </div>
</div>
</div>
